:root {
  --color-black-1: #262A2E;
  --color-black-2: #6a6f74f2;
  --color-black-3: #404040f2;
  --color-grey-1: #F8F9FA; //Nav
  --color-grey-2: #F8F8F8; //Card button
  --color-grey-3: #F5F5F5; //border Card and form
  --color-transparent: #ffffff00;

  --color-blue: #007bff;
  --color-blue-light: #0078ffc4;
  --color-blue-dark: #0055ff;
  --color-green: #28a745;
  --color-red: #dc3545;
  --color-white: #fff;

}
