.card {
    border: 1px solid var(--color-grey-3);
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 26rem;
    height: 19rem;

    @include respond(phone){
        //max-width: 35em;
        width: 35rem;
        height: 30rem;
    };

    &__title{
        display: block;
        display: -webkit-box;
        height: 2.5em;
        line-height: 1.4;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @include title;
        @include respond(phone){
            font-size: 2.6rem;
        };

    }
    &__text{
        font-size: 1.6rem;
        color: var(--color-black-3);
        padding: 0 1em 1.5em 1em;
        display: block;
        display: -webkit-box;
        height: 4em;
        line-height: 1.4;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @include respond(phone){
            font-size: 2rem;
            padding: 0 1em 1.5em 1.4em;
        };
    }
    &__loader{
        display: inline-block;
        float: left;
        background: #f2f2f2 no-repeat 10px 0px;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjZjlmOWY5Ii8+PHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #f2f2f2), color-stop(20%, #f9f9f9), color-stop(40%, #f2f2f2), color-stop(100%, #f2f2f2));
        background-image: -moz-linear-gradient(left, #f2f2f2 0%, #f9f9f9 20%, #f2f2f2 40%, #f2f2f2 100%);
        background-image: -webkit-linear-gradient(left, #f2f2f2 0%, #f9f9f9 20%, #f2f2f2 40%, #f2f2f2 100%);
        background-image: linear-gradient(to right, #f2f2f2 0%, #f9f9f9 20%, #f2f2f2 40%, #f2f2f2 100%);
        -moz-animation: anim 0.7s forwards infinite linear;
        -webkit-animation: anim 0.7s forwards infinite linear;
        animation: anim 0.7s forwards infinite linear;
        border-style: solid;
        border-top: 0px;
        border-bottom: 0px;
        border-left: 0px;
        border-color: white;
    }
    .card-conteiner-button{
        background-color: var(--color-grey-2);
        display: flex;
        justify-content: space-around;
    }
}
