.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  .modal-container {
    width: 50rem;
    margin: 0px auto;
    background-color: var(--color-white);
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    @include respond(phone){
      width: 39rem;
    };
    &__header{
      position: relative;
      padding: 20px 30px;
      background-color: var(--color-grey-2);
      h2{
        font-size: 2.6rem;
        color: var(--color-blue-light);
      }
      &--close{
        position: absolute;
        right: 2em;
        top: 2em;
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--color-blue-light);
      }
    }
    &__body{
      margin: 10px 0;
      padding: 5px 30px 20px 30px;
      div{
        h3{
          font-size: 1.8rem;
          color: var(--color-blue-light);
        }
        p{
          font-size: 1.5rem;
          color: var(--color-black-3);
        }
      }
    }

  }
}
